*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
   background-image: url("cheated.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background: url("colors.jpg");
    filter: brightness(110%);
    box-shadow: 0px 0px 10px 0px #6b6b6b;
    display: flex;


}

.nav .logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-weight: 200;
    color: #ffff;
    cursor: pointer;
}

.nav .logo img{
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 52px;
        border: 2px solid transparent;
        color: #f5f5f5;
        font-size: 25px;
        transition: 0.3s;
      }
      
      .nav .logo i:hover{
        border-radius: 50%;
        border-color: #1783ff;
        box-shadow: 0 0 10px #df40ff;
      }

.links{
    margin-left: 350px;
}
.nav .links a{
    text-decoration: none;
    color: #f6f5f7;
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    margin: 20px;
    margin-top: 15px;
    
}

.nav .search{
    width: 380px;
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
}

.nav .search i{
  position: relative;
  right: 10%;
  font-size: 20px;
  font-weight: bold;
}

.nav .search input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 20px;
    
}

a {
	color: #18272F;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #FFC549;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.slide-bar{
    margin-top: 60px;
    border-right: 2px solid;
    position: fixed;
    width: 60px;
    background-color:transparent;
    backdrop-filter: blur(20px);
    height: 100hv;
    overflow: hidden;
    transition: .3s;
    z-index: 1;
}

.slide-bar:hover{
  /* background-color: #ffffff; */
  backdrop-filter: blur(100px);
  width: 140px;
  height: 100%;
  box-shadow: 0px 0px 30px rgba(246, 246, 250, 0.5);
}

.slide-bar ul{
  position: relative;
  height: calc(100vh - 60px);

}

.slide-bar ul li{
  list-style: none;
}

.slide-bar ul li:hover{
  background-color: #b9b8b8;
}

.slide-bar ul li a{
  position: sticky;
  display: flex;
  white-space: nowrap;

}

.slide-bar ul li .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  min-width: 60px;
  height: 60px;
  color: #D702CF;
}

.slide-bar ul li .text{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.slide-bar .hasi{
  width: 100%;
  position: absolute;
  bottom: 0;
}